* {
    display: inline-block;
}
div {
    width: 400px;
    height: 450px;
    /* background-color:rgb(200, 255, 252); */
    padding: 30px 10px;
    margin-left: 100px;
    margin-top: 70px;
    border-radius: 7%;
    transition: 1s;
}
#first  {
    background-image: url(./images/front.png);
    opacity: .9;
}

#first:hover  {
    background-image: url(./images/front.png);
    opacity: .7;

}
#second {
    background-image: url(./images/back.avif);
    opacity: .9;
}

#second:hover {
    background-image: url(./images/back.avif);
    opacity: .7;
}
p {
    text-align: justify;
    font-size: 20px;
}
h1 {
    text-align: center;
}
.price {
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
    text-decoration: underline;
    color: rgb(0, 129, 119);
}
div:hover  {
    /* transform: translateX(150px);     перемещение */
    /* transform: translate(150px, 150px); */
    /* transform: skew(10deg);  искажение*/
    /* transform: rotate(-90deg); вращение поворот */
    transform: scale(1.2);
    transition: 1s;
}