#first  {
    border-radius: 50% ;
}
.one {
    background-color: greenyellow;
    width: 250px;
    /* padding: 30px; */
}
#square{
    width: 250px;
    height: 300p;
    border: 10px solid blue;
    
}

#second {
    width: 250px;
    height: 270px;
}
#wrap {
    /* background-color: rgb(0, 139, 139); */
    border: 2px  solid green;
    border-radius: 14%;
    /* border-style: initial; */
    width: 270px; 
    /* heigh */
}