
#main {
    width: 100px;
    height: 20px;
    background-color: black;
}
#loading {
    width: 20px;
    height: 20px;
    background-color: rgb(41, 209, 64);
    animation-name: anim;
    animation-duration: 3s;
    animation-delay: 1s; /*задержка перед началом (к примеру, чтобы прогрузился сайт)*/
    animation-iteration-count: infinite; /*повторы*/
    animation-play-state: running; /*точка начала*/
}
@keyframes anim {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 80px;
        /* hidden */
    }

}